*.iml
.gradle
.kotlin
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/jsons_old
/jsons

# Keystore files for signing
*.jks
*.keystore
keystore.properties
*.log
